<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.user.api.restAssuredTest.UserAuthenticationControllerTest"/>
      <class name="com.user.api.restAssuredTest.UserControllerTest"/>
      <class name="com.user.api.UserApiCapstoneApplicationTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
